<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompatibleVersion</key>
	<integer>1</integer>
	<key>RawQueryDict</key>
	<dict>
		<key>SearchScopes</key>
		<array>
			<string>kMDQueryScopeComputer</string>
		</array>
		<key>RawQuery</key>
		<string>false</string>
		<key>FinderFilesOnly</key>
		<true/>
		<key>UserFilesOnly</key>
		<true/>
	</dict>
	<key>RawQuery</key>
	<string></string>
	<key>SearchCriteria</key>
	<dict>
		<key>CurrentFolderPath</key>
		<string>/</string>
		<key>FXCriteriaSlices</key>
		<array/>
		<key>FXScope</key>
		<integer>0</integer>
		<key>FXScopeArrayOfPaths</key>
		<array>
			<string>kMDQueryScopeComputer</string>
		</array>
		<key>SearchNameOnly</key>
		<true/>
	</dict>
	<key>Version</key>
	<string>10.4</string>
</dict>
</plist>
