<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>launchpad</key>
	<dict>
		<key>exclude</key>
		<dict>
			<key>version</key>
			<string>4</string>
			<key>bundleids</key>
			<array>
				<string>&quot;com.Adobe.ESD.AdobeUpdaterApplication&quot;</string>
				<string>APP_ID</string>
				<string>Adobe Flash Builder 4.6 Plug-in Utility</string>
				<string>Analyze Documents</string>
				<string>Contact Sheets</string>
				<string>Export Flash Animation</string>
				<string>Make Calendar</string>
				<string>Microsoft Query</string>
				<string>SimController</string>
				<string>Web Gallery</string>
				<string>chc.4875E02D9FB21EE389F73B8D1702B320485DF8CE.1</string>
				<string>com.Adobe.Uninstall</string>
				<string>com.Adobe.Uninstall Product</string>
				<string>com.adobe.Acrobat.Uninstaller</string>
				<string>com.adobe.ContributeFirefoxPlugin</string>
				<string>com.adobe.ExtensionManager</string>
				<string>com.adobe.Installers.Redirector</string>
				<string>com.adobe.Installers.Setup</string>
				<string>com.adobe.PDApp</string>
				<string>com.adobe.PDApp.AAMRegistrationNotifier</string>
				<string>com.adobe.PDApp.AAMUpdatesNotifier</string>
				<string>com.adobe.PDApp.adobe_asm</string>
				<string>com.adobe.PXBToolkit</string>
				<string>com.adobe.adobe_licutil</string>
				<string>com.adobe.air.ApplicationInstaller</string>
				<string>com.adobe.air.Installer</string>
				<string>com.adobe.contribute.cs4.ffextn</string>
				<string>com.adobe.drive.ConnectUI</string>
				<string>com.adobe.estoolkit-3.5</string>
				<string>com.adobe.estoolkit-3.6</string>
				<string>com.adobe.headlights.LogTransport2App</string>
				<string>com.apple.ASApplication</string>
				<string>com.apple.launchpad.launcher</string>
				<string>com.adobe.flashplayer.installmanager</string>
				<string>com.blizzard.BNUpdate</string>
				<string>com.blizzard.blizzarderror</string>
				<string>com.blizzard.downloader</string>
				<string>com.blizzard.errorreporter</string>
				<string>com.blizzard.starcraft2.repair</string>
				<string>com.blizzard.starcraft2switcher</string>
				<string>com.blizzard.worldofwarcraft.repair</string>
				<string>com.filemaker.client.runtime</string>
				<string>com.filemaker.wc9</string>
				<string>com.imagineersystems.mocha4ae_adobe</string>
				<string>com.leadertech.powerReg</string>
				<string>com.macromedia.Flash Player Debugger.app</string>
				<string>com.macromedia.Flash Player.app</string>
				<string>com.microsoft.AlertsDaemon</string>
				<string>com.microsoft.ClipGallery</string>
				<string>com.microsoft.EquationEditor</string>
				<string>com.microsoft.Graph</string>
				<string>com.microsoft.MicrosoftCertManager</string>
				<string>com.microsoft.OrgChart</string>
				<string>com.microsoft.SyncServicesAgent</string>
				<string>com.microsoft.alerts.daemon</string>
				<string>Microsoft/com.microsoft.AlertsDaemon</string>
				<string>com.microsoft.entourage.database_daemon</string>
				<string>com.microsoft.entourage.database_utility</string>
				<string>com.microsoft.entourage.office_reminders</string>
				<string>com.microsoft.entourage.syncservices12</string>
				<string>com.microsoft.language_register</string>
				<string>com.microsoft.myday</string>
				<string>com.microsoft.office.setupassistant</string>
				<string>com.microsoft.office.uploadcenter</string>
				<string>com.microsoft.office_pg</string>
				<string>com.microsoft.openxml.chart.app</string>
				<string>com.microsoft.openxml.excel.app</string>
				<string>com.microsoft.outlook.database_daemon</string>
				<string>com.microsoft.outlook.database_utility</string>
				<string>com.microsoft.outlook.office_reminders</string>
				<string>com.microsoft.removeoffice</string>
				<string>com.microsoft.setupassistant</string>
				<string>com.symantec.uninstaller</string>
				<string>com.synthetic-ap.SA Color Finesse 3 UI</string>
			</array>
			<key>rules</key>
			<array>
				<dict>
					<key>name</key>
					<string>setup</string>
					<key>type</key>
					<string>match</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.adobe.estoolkit</string>
					<key>type</key>
					<string>prefix</string>
				</dict>
				<dict>
					<key>name</key>
					<string>uninstall</string>
					<key>type</key>
					<string>contains</string>
				</dict>
			</array>
		</dict>
		<key>includeAsGame</key>
		<dict>
			<key>version</key>
			<string>2</string>
			<key>bundleids</key>
			<array>
				<string>com.blizzard.diablo3</string>
				<string>com.epicgames.com.chairentertainment.Fortnite</string>
				<string>net.battle.app</string>
				<string>net.battle.bootstrapper</string>
				<string>com.roblox.RobloxPlayer</string>
				<string>com.epicgames.EpicGamesLauncher</string>
				<string>com.GearboxSoftware.Borderlands3</string>
				<string>com.square-enix.finalfantasyxiv</string>
				<string>com.mojang.minecraftlauncher</string>
			</array>
		</dict>
		<key>version_exceptions</key>
		<array>
			<string>org.eclipse.eclipse</string>
			<string>com.blizzard.launcher</string>
			<string>com.blizzard.bootstrapper</string>
			<string>com.apple.dt.Xcode</string>
			<string>com.aspyr.NWN2</string>
		</array>
		<key>layout</key>
		<dict>
			<key>version</key>
			<integer>3</integer>
			<key>mainPage</key>
			<array>
				<dict>
					<key>bundleid</key>
					<string>com.apple.Server.v3</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.AppStore</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.Safari</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.mail</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.AddressBook</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.iCal</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.reminders</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.Notes</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.FaceTime</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.MobileSMS</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.Maps</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.findmy</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.PhotoBooth</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.Photos</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.Preview</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.Music</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.podcasts</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.TV</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.VoiceMemos</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.garageband10</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.iMovieApp</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.iWork.Numbers</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.iWork.Keynote</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.iWork.Pages</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.news</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.stocks</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.iBooksX</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.Dictionary</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.calculator</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.Home</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.siri.launcher</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.exposelauncher</string>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.systempreferences</string>
				</dict>
				<dict>
					<key>type</key>
					<string>group</string>
					<key>title</key>
					<string>Other</string>
					<key>alias</key>
					<string>Utilities</string>
					<key>contents</key>
					<array>
						<dict>
							<key>bundleid</key>
							<string>com.apple.shortcuts</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.QuickTimePlayerX</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.TextEdit</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.grapher</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.DVDPlayer</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.backup.launcher</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.FontBook</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.Chess</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.Stickies</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.Image_Capture</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.VoiceOverUtility</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.airport.airportutility</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.MigrateAssistant</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.Terminal</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.ActivityMonitor</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.Console</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.NetworkUtility</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.keychainaccess</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.SystemProfiler</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.Automator</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.ScriptEditor2</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.DiskUtility</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.bootcampassistant</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.DigitalColorMeter</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.ColorSyncUtility</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.screenshot.launcher</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.BluetoothFileExchange</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.audio.AudioMIDISetup</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>org.x.X11</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.X11redirect</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.java.JavaPreferences</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.RAIDUtility</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.PodcastCapture</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.PodcastPublisher</string>
						</dict>
						<dict>
							<key>bundleid</key>
							<string>com.apple.Storage-Utility</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>bundleid</key>
					<string>com.apple.dt.Xcode</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
